<header id="header">
    {{ $url := .RelPermalink }}
    <h1>
        <a href="/"><img src={{ .Site.Params.favicon | relURL }} /><strong>
            {{ if gt (len (split $url "/")) 2 }}
                <i class="fa fa-home" aria-hidden="true"></i>
                {{/*  <i class="fa fa-envelope" aria-hidden="true"></i>  */}}
            {{ else }}
                {{ .Site.Title }}
            {{- end }}
        </strong></a>
        
    <span>
        <strong class="not-clickable">
    {{ range $index, $element := split $url "/" }}
        {{ if ne $element "" }}
            / {{ . | humanize }}
        {{ end }}
    {{ end }}
</strong>    
</span>

    </h1>
    {{ partial "navigation.html" . }}

</header>
